#root{
  margin: 5px 20px;
}
body{
  background-color: #0d501b;
}
input{
  cursor: pointer;
}
h1{
  text-align: center;
}
span{
  margin: 10px;
}
.input_submit{
  text-align: center;
}
#post{
  display: contents;
}
.post_design{
  max-width: 500px;
  padding: 10px;
  margin: 5px 20px;
  background: #95d0ee;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22)
}
.post_title{
  font-size: 15px;
  margin: 3px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.post_design:hover {
  transform: scale(1.005);
}
/*--------------------------------------
投稿欄カード
--------------------------------------*/
.wrapper {
  margin: 1rem auto;
  width: 100%;
}

.wrapper:hover {
  transform: translateY(-5px);
  box-shadow: 0 7px 34px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  transition: all .5s;
}
.card {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}
.card-content{
  padding: 8px 20px 20px;
}
.card-title {
  font-size: 1.6em;
  color: #333;
  font-weight: 700;
}
.card-text {
  color: #777;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 0.2em;
}  
.card-content p {
  margin-bottom:0;
}